<!DOCTYPE html>
<html lang="{{ @website.language }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{#if title}}
            <title>{{title}}</title>
        {{else}}
            <title>{{@website.name}}</title>
        {{/if}}
        {{metaDescription}}
        {{metaRobots}}
        {{{publiiHead}}}
        {{canonicalLink}}
        {{ampLink}}
        {{feedLink}}
        {{socialMetaTags}}
		{{#if @config.custom.faviconUpload}}
	        <link rel="shortcut icon" href="{{@config.custom.faviconUpload}}" type="{{@config.custom.faviconExtension}}" />
        {{/if}}
        {{#if @pagination}}
            {{#if @pagination.previousPage}}
                <link rel="prev" href="{{@pagination.previousPageUrl }}">
            {{/if}}
            {{#if @pagination.nextPage}}
                <link rel="next" href="{{@pagination.nextPageUrl }}">
            {{/if}}
        {{/if}}       
        {{> fonts}}      
        <link rel="stylesheet" href="{{css "style.css" }}">
		{{#is "post"}}
           {{#post}}
              {{#if hasGallery}}
                 <link rel="stylesheet" href="{{css "photoswipe.css" }}">
              {{/if}}
           {{/post}}
        {{/is}}	
        {{#checkIf @config.custom.frontSource '==' "post" }}
           {{#checkIf @config.custom.frontGallery '==' true}}
              {{#is "index"}}
                 <link rel="stylesheet" href="{{css "photoswipe.css" }}">
              {{/is}}
           {{/checkIf}}
        {{/checkIf}}
        {{jsonLD}}
		{{#is "post"}}
           {{#post}}
              {{#if hasGallery}}
		            <style>				
		               {{#checkIf @config.custom.galleryLightboxStyle '==' "pswp--dark" }}
				          .pswp--svg .pswp__button,
				          .pswp--svg .pswp__button--arrow--left:before,
				          .pswp--svg .pswp__button--arrow--right:before {
					          background-image: url({{@website.assetsUrl}}/svg/gallery-icons-light.svg);
			              }
		              {{else}}
			              .pswp--svg .pswp__button,
				          .pswp--svg .pswp__button--arrow--left:before,
				          .pswp--svg .pswp__button--arrow--right:before {
					          background-image: url({{@website.assetsUrl}}/svg/gallery-icons-dark.svg);
			              }		
		              {{/checkIf}}
		            </style>		        
              {{/if}}
           {{/post}}
        {{/is}}
        
        {{#checkIf @config.custom.frontSource '==' "post"}}
          {{#checkIf @config.custom.frontGallery '==' true}}
            {{#is "index"}}
               <style>	
		            {{#checkIf @config.custom.galleryLightboxStyle '==' "pswp--dark" }}
		                 .pswp--svg .pswp__button,
		                 .pswp--svg .pswp__button--arrow--left:before,
		                 .pswp--svg .pswp__button--arrow--right:before {
			                background-image: url({{@website.assetsUrl}}/svg/gallery-icons-light.svg);
		                 }
		            {{else}}
		                 .pswp--svg .pswp__button,
		                 .pswp--svg .pswp__button--arrow--left:before,
		                 .pswp--svg .pswp__button--arrow--right:before {
			                background-image: url({{@website.assetsUrl}}/svg/gallery-icons-dark.svg);
		                 }		
		            {{/checkIf}}
               </style>	
            {{/is}}	
          {{/checkIf}}
        {{/checkIf}}
        <!-- Matomo -->
            <script>
            var _paq = window._paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//www.mediared.uy/";
                _paq.push(['setTrackerUrl', u+'matomo.php']);
                _paq.push(['setSiteId', '1']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();
            </script>
            <!-- End Matomo Code -->
        <!-- Required Core Stylesheet -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">

        <!-- Optional Theme Stylesheet -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">    
        <script src="https://cdn.jsdelivr.net/npm//@glidejs/glide/dist/glide.min.js"></script>
        {{{@headCustomCode}}}
    </head>
    <body>
        {{{@bodyCustomCode}}}